#title{		
	background-color: #FFDB00;	
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 50px;
}
#name{
	float:right;
	margin:10px;
}
#menu{
	background-color: #FFDB00;	
	border:1px solid red;
	text-align: center;
	padding:10px;
}
#log{
	float:right;
	margin:10px;
}
#play,#home{
	margin:20px;
	font-size: 25px;
}
.hidden
{
    display: none;
}
.bold
{
    font-weight: bold;
}
.moreboard
{
    background-color: #FFFFCC; border: thin dotted #000000; padding: 2px; margin: 0px; width: 200px;
    position:absolute;/*절대위치*/
}
header{
	border:1px solid gray;
	margin-left: 250px;
	margin-right: 250px;
}
header:after { content:""; clear:both; display:block; }
a{
	text-align:center;
	text-decoration: none;
}
body{
	margin:0px;
}