#title{		
	background-color: #FFDB00;	
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 50px;
}
#name{
	float:right;
	margin:10px;
}
#menu{
	background-color: #FFDB00;	
	/*border:1px solid red;*/
	text-align: center;
	padding:10px;
}
#log{
	float:right;
	margin:10px;
}
#play,#home{
	margin:20px;
	font-size: 25px;
}
.hidden
{
    display: none;
}
.bold
{
    font-weight: bold;
}
.moreboard
{
    background-color: #FFFFCC; border: thin dotted #000000; padding: 2px; margin: 0px; width: 200px;
    position:absolute;/*절대위치*/
}
header{
	/*border:1px solid gray;*/
	margin-left: auto;
	margin-right: auto;
	width:945px;
	height: 40px;
}
header:after { content:""; clear:both; display:block; }
a{
	color:black;
	text-align:center;
	text-decoration: none;
}
#category a{
	margin-left: 30px;
	margin-right: 30px;
}
#category a:nth-child(1){
	color: #F70606; text-decoration: none;
}
#category a:nth-child(2){
	color: #0C54F4; text-decoration: none;
}

body{
	margin:0px;
	/*text-align: center;*/
}